<div class="container">
  <div class="gmap">
    <div id='map'>
    </div>
  </div>
  <div>
    <div>
      <div class="p-5 m-5 shadow">
        <div>
          <h3>お客様登録</h3>
        </div>
        <%= form_with model: @customer do |f| %>
          <table>
            <div class="form-group">
              <%= f.label :name ,"お客様氏名", class: "control-label" %>
                <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :address ,"お客様住所", class: "control-label" %>
                <%= f.text_field :address, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :number ,"電話番号", class: "control-label" %>
                <%= f.telephone_field :number, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :right ,"主権者", class: "control-label" %>
                <%= f.check_box :right, {}, true, false %>
            </div>
            <div class="form-group">
              <%= f.label :assets ,"資産背景", class: "control-label" %>
                <%= f.text_area :assets, class: "form-control" , size: "40x20" %>
            </div>
            <div class="form-group">
              <%= f.label :memo ,"お客様メモ", class: "control-label" %>
                <%= f.text_area :memo, class: "form-control" , size: "40x20" %>
            </div>
          </table>
          <div class="form-group">
            <%= f.submit "更新" , class: "btn btn-primary" %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<style>
  #map {
    height: 400px;
  }
</style>

<script>
  let map;

  function initMap() {
    // geocoderを初期化
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
      center: {
        lat: gon.customer.latitude,
        lng: gon.customer.longitude
      },
      // マップの倍率はお好みで
      zoom: 17,
    });

    marker = new google.maps.Marker({
      // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
      position: {
        lat: gon.customer.latitude,
        lng: gon.customer.longitude
      },
      map: map
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>

