<div class="container mt-5">
  <div class="gmap">
    <div id='map'>
    </div>
  </div>
  <div class="customers mt-5">
    <div class="search_wap mb-5">
      <%= search_form_for @q, url: search_customers_path do |f| %>
        <%= f.text_field :name_cont , placeholder: "お客様氏名" , class: 'input' %>
        <%= button_tag type: 'submit' , class: 'search__button' do %>
          <i class="fal fa-file-search"></i>
        <% end %>
      <% end %>
    </div>
    <% @customers.each do |customer| %>
      <% @users = User.where(id: customer.user_id) %>
      <% @users.each do |user| %>
        <ol class="customer-information">
          <%= link_to customer do %>
            <li class="customer-item">
              <div class="customer-li">
                <p><%= customer.name %></p>
                <p><%= customer.address %></p>
                <p><%= customer.memo %></p>
              </div>
              <div class="posted-user">
                <%= image_tag user.avatar.variant(gravity: :center, resize:"90x90^", crop:"90x90+0+0").processed, class: "icon" %>
                <p class="mt-1"><%= user.user_name %></p>
                <p><%= customer.created_at.strftime("%Y年%m月%d日") %></p>
              </div>
            </li>
          <% end %>
        </ol>
      <% end %>
    <% end %>
  </div>
</div>

<style>
  #map {
    height: 400px;
  }
</style>

<script>
  let map;
  let marker = [];
  let infoWindow = [];
  let markerData = gon.customer;

  function initMap() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 35.6585, lng: 139.7486 },
      zoom: 12,
    });

    for (var i = 0; i < markerData.length; i++) {
      let id = markerData[i]['id']

      markerLatLng = new google.maps.LatLng({
        lat: markerData[i]['latitude'],
        lng: markerData[i]['longitude']
      });

      marker[i] = new google.maps.Marker({
        position: markerLatLng,
        map: map
      });

      infoWindow[i] = new google.maps.InfoWindow({
        content: `<a href='/customers/${ id }'>${ markerData[i]['name'] }</a>`
      });

      markerEvent(i);
    }
  }

  function markerEvent(i) {
    marker[i].addListener('click', function () {
      infoWindow[i].open(map, marker[i]);
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer>
</script>
