<div class="container mt-5">
  <div class="gmap">
    <div id='map'>
    </div>
  </div>
  <div class="customers mt-5">
    <% @search_customers.each do |customer| %>
      <ol>
        <%= link_to customer do %>
          <li>
            <p><%= customer.name %></p>
            <p><%= customer.address %></p>
            <p><%= customer.memo %></p>
            <p><%= customer.longitude%><p>
          </li>
        <% end %>
      </ol>
    <% end %>
    <div><%= link_to "戻る", customers_path %></div>
  </div>
</div>

<style>
  #map {
    height: 400px;
  }
</style>

<script>
  let map;
  let marker = [];
  let infoWindow = [];
  let markerData = gon.customer;

  function initMap() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 35.6585, lng: 139.7486 },
      zoom: 12,
    });

    for (var i = 0; i < markerData.length; i++) {
      let id = markerData[i]['id']

      markerLatLng = new google.maps.LatLng({
        lat: markerData[i]['latitude'],
        lng: markerData[i]['longitude']
      });

      marker[i] = new google.maps.Marker({
        position: markerLatLng,
        map: map
      });

      infoWindow[i] = new google.maps.InfoWindow({
        content: markerData[i]['name']
      });

      markerEvent(i);
    }
  }

  function markerEvent(i) {
    marker[i].addListener('click', function () {
      infoWindow[i].open(map, marker[i]);
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer>
</script>
