<div class="container mt-5">
  <div class="gmap">
    <div id='map'>
    </div>
  </div>
  <div>
    <div>
      <div class="p-5 m-5">
        <table class="table-custom">
          <tr>
            <th>氏名</th>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= @customer.number %></td>
          </tr>
          <tr>
            <th>主権者</th>
            <td><% if @customer.right == true %>
              ○
            <% else @customer.right == false %>

            <% end %></td>
          </tr>
          <tr>
            <th>資産背景</th>
            <td><%= @customer.assets %></td>
          </tr>
          <tr>
            <th>メモ</th>
            <td><%= @customer.memo %></td>
          </tr>
        </table>
        <div class="d-flex flex-row bd-highlight mt-3">
          <div><%= button_to "編集", edit_customer_path, method: :get, class: "btn btn--get btn--cubic btn--shadow" %></div>
          <div class="delete-button"><%= button_to "削除", customer_path(@customer), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn--danger btn--cubic btn--shadow" %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #map {
    height: 400px;
  }
</style>

<script>
  let map;

  function initMap() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: gon.customer.latitude,
        lng: gon.customer.longitude
      },
      zoom: 17,
    });

    marker = new google.maps.Marker({
      position: {
        lat: gon.customer.latitude,
        lng: gon.customer.longitude
      },
      map: map
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
