<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <%= render 'layouts/header' %>
    </header>
    <%= yield %>
    <footer class="footer fixed-bottom">
      <p>©<%= Time.current.year %> Company name.</p>
    </footer>
  </body>
</html>

